<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>,:</b>
  <%= @task., %>
</p>

<p>
  <b>Asigned use:</b>
  <%= @task.asigned_use_id %>
</p>

<p>
  <b>Integer,:</b>
  <%= @task.integer, %>
</p>

<p>
  <b>Project:</b>
  <%= @task.project %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
