
 

<section class="content">
                  
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Responsive Hover Table</h3>
                    <div class="box-tools">
                        <div class="input-group">
                            <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Reason</th>
                        </tr>
                       <% @projects.each do |project| %>
                          <tr>
                            <td><%= project.name %></td>
                            <td><%= project.description %></td>
                            <td><%= project.user.name %></td>
                            <td><%= link_to 'Show', project %></td>
                            <td><%= link_to 'Edit', edit_project_path(project) %></td>
                            <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
    <% Project.first(3).each do |project|%>
        <div id="piechart_<%= project.id%>" ></div>
    <% end %>
</section>


<%= link_to 'New Project', new_project_path %>
<script type="text/javascript">

    <% chart_data = []%>
       <% Project.first(3).each do |project|%>
          <% chart = {} %>
           <%
              chart[:name] = project.name 
              chart[:id]   = project.id.to_s 
              chart[:data] = project.get_chart_data
              chart_data << chart 
            %>
           google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
       <% end %>


  function drawChart() {
    <% chart_data.each do |chart|%>
        console.log('<%= chart[:data].to_json.html_safe %>')
    // var data = google.visualization.arrayToDataTable([
    //   ['Task', 'Hours per Day'],
    //   ['Work',     11],
    //   ['Eat',      2],
    //   ['Commute',  2],
    //   ['Watch TV', 2],
    //   ['Sleep',    7]
    // ]);

     var data = google.visualization.arrayToDataTable(<%= chart[:data].to_json.html_safe %>);

    var options = {
      title: "<%=chart[:name] %>"
    };

   var chart = new google.visualization.PieChart(document.getElementById("piechart_<%= chart[:id]%>"));

    chart.draw(data, options);
    <% end %>
  }
</script>
